<%-include('../style-generals/style-generals')%>
<h1>LOGIN</h1>
            <form action="/login" method="POST">
                <table>
                    <tr>
                        <td><label for="usuarioId">USUARIO</label></td>
                        <td><input id="usuarioId" type="text" name="usuario"></td>
                    </tr>
                    <tr>
                        <td><label for="passwordId">PASSWORD</label></td>
                        <td><input id="passwordId" type="password" name="password"></td>
                    </tr>
                </table>
                <br>
                <button type="submit">LOGGEARSE</button>
            </form>
