
<!DOCTYPE html>
<html>
<head>
    <!--Configuraiones o metadatos -->
    <!--Estilos CSS-->
    <!--<style>/
    body{
        color: green;
    }
    </style>-->
    <link rel="stylesheet" href="/css/estilos-generales.css">
    <script src="/js/logica-general.js"></script>

</head>
<body>
<p>hola <%= nombre %> :P </p>
<!--Contenido html -->
<!--SCRIPTS-->
<!--
<script>
    console.log('Hola mundo desde la Web')
</script>
-->
</body>
</html>